@CHARSET "UTF-8";
.header-bottom {height:38px; background: url("../images/header_bottom_bg.png") repeat-x;font-size: 12px;}
.header-bottom .col {padding: 8px 0 0 7px;}
.header-bottom .user-info {color:#0449e2; }
.separate {width:8px;height:36px;background: url("../images/separate_bg.png") center no-repeat;}
.header-bottom .not-msg-prompt {color: #4fa8e3;}

/************新版首页样式***************/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	/*color: #333;*/
	color:#2779aa;
}
/*a,.tr-parent-tree-td{color: #000;}*/
.tr-parent-tree-td{color: #000;}
a:hover {color: #3b46d6;text-decoration: underline;}

.header-bottom-menu li {float: left;padding: 0 8px 0 10px;}
.default-page .panel-heading .right {font-weight: normal;}

/*****************个人设置 setting********************/
.user-setting {margin: 0 0;}
.user-setting .panel-tabs-tab .nav-tabs > li.active>a {color:#000;}
.user-setting .panel-tabs-tab {background-color:#f8f8f5;}
.user-setting .panel-tabs-wrap {border: none;}
.user-setting .panel-tabs-tab .nav-tabs>li>a {color: #7d7d7d;}
.user-setting .panel-tabs-tab .nav-tabs > li.active > a, .user-setting .panel-tabs-tab .nav-tabs > li.active > a:hover, .user-setting .panel-tabs-tab .nav-tabs > li.active > a:focus {color:#000;}
.user-setting .tab-content {background: #fff;overflow: auto;}
.setting-layout-content {overflow: auto;}
.setting-tab-content input[type="checkbox"],.setting-tab-content input[type="radio"] {padding: 0;margin-top: 0px;}
.setting-tab-content .form-horizontal .radio,.setting-tab-content .form-horizontal .checkbox,.setting-tab-content .form-horizontal .radio-inline,.setting-tab-content .form-horizontal .checkbox-inline {padding-top: 0px;}
.setting-tab-content .op-btn {display:none;position: absolute;bottom:3px;right: 5px; }
.layout-wrap:hover .op-btn {display: block;}
.setting-layout-content .layout-view {display: none;}
.setting-layout-content .layout-view.active {display: block;}
.panel-tabs-tab .nav-tabs {padding-left: 10px;}
.panel-default .panel-heading .nav-tabs {border-bottom: none;}

/*.panel-tabs-tab .nav-tabs li.active a {color: #000;}
.panel-tabs-tab .nav-tabs li a {font-weight: 700;color: #333;}*/
table>tbody>tr.tr-asyn-loading>td {padding-left: 35px;}

.normal-fieldset fieldset {padding:5px 0 15px 10px;border: 1px solid #aaa;border-radius:5px;font-size: 13px;}
.normal-fieldset legend {font-weight: 700;font-size: 13px;}
.logo-img {display: inline-block;max-width: 40px;max-height: 40px;}

.cnoj-checkbox .radio, 
.cnoj-checkbox .radio-inline, 
.cnoj-checkbox .checkbox, 
.cnoj-checkbox .checkbox-inline {
	margin-left: 15px;
}

.new-up .new {
    position: absolute;
    top: 0px;
    right: -20px;
    font-size: 0;
    width: 40px;
    height: 13px;
    background: url("../images/new.png") no-repeat 0 0;
}

/****************非表格列表样式*************/
.title-row {
    font-weight: 500;
}
.div-table-wrap .list-row .col-sm-3,.div-table-wrap .list-row .col-sm-2,
.div-table-wrap .list-row .col-sm-1,.div-table-wrap .list-row .col-sm-4,
.div-table-wrap .list-row .col-sm-5,.div-table-wrap .list-row .col-sm-6,
.div-table-wrap .list-row .col-sm-7,.div-table-wrap .list-row .col-sm-8,
.div-table-wrap .list-row .col-sm-9,.div-table-wrap .list-row .col-sm-10,
.div-table-wrap .list-row .col-sm-11,.div-table-wrap .list-row .col-sm-12 {
    border-right: 1px solid #eee;
}
.list-row {
    padding: 0;
}
.list-row div{
    padding: 5px; 
}
.th-title {
    width: 100px;
    background: #fafafa;
    text-align: right;
}

.index-panel-body {
    overflow: auto;
    padding: 0;
}
.index-panel {
    padding: 0 15px;
}
.list-col-body {
    overflow: auto;
}
.list-content-wrap .row {
    margin: 0;
}
.row-title-wrap {
    background: #fafafa;
}
th.has-switch {
	display: table-cell;
}
display: table-cell;