<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <jsp-config>
    <taglib>
      <taglib-uri>/cnoj-tags</taglib-uri>
      <taglib-location>cnoj-tags.tld</taglib-location>
    </taglib>
  </jsp-config>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
           classpath:applicationContext.xml
           classpath:applicationContext-snaker.xml
        </param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springWeb</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-web-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springWeb</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
   <!--Comet4J配置 -->
	<listener>
		<description>Comet4J容器侦听</description>
		<listener-class>org.comet4j.core.CometAppListener</listener-class>
	</listener>
	<servlet>
		<description>Comet连接</description>
		<display-name>CometServlet</display-name>
		<servlet-name>CometServlet</servlet-name>
		<servlet-class>org.comet4j.core.CometServletTomcat7</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>CometServlet</servlet-name>
		<url-pattern>/conn</url-pattern>
	</servlet-mapping>
	<!-- Comet4J可选参数配置-->
	<context-param>
		<description>语言[支持：zh,en,默认:zh]</description>
		<param-name>Comet.Language</param-name>
		<param-value>zh</param-value>
	</context-param>
	<context-param>
		<description>请求超时时间/微妙[默认:60000,1分钟,建议至少设置3秒以上]</description>
		<param-name>Comet.Timeout</param-name>
		<param-value>5000</param-value>
	</context-param>
	<context-param>
		<description>连接空闲过期时间/微妙[默认:5000,5秒]</description>
		<param-name>Comet.ConnExpires</param-name>
		<param-value>5000</param-value>
	</context-param>
	<context-param>
		<description>连接检查频率/微妙[默认:5000,5秒]</description>
		<param-name>Comet.ConnFrequency</param-name>
		<param-value>5000</param-value>
	</context-param>
	<context-param>
		<description>缓存信息过期时间/微妙[默认:60000,1分种]</description>
		<param-name>Comet.CacheExpires</param-name>
		<param-value>600000</param-value>
	</context-param>
	<context-param>
		<description>缓存信息过期检查频率/微妙[默认:60000,1分种]</description>
		<param-name>Comet.CacheFrequency</param-name>
		<param-value>60000</param-value>
	</context-param>
	<context-param>
		<description>连接模式[auto(默认)/stream/lpool]</description>
		<param-name>Comet.WorkStyle</param-name>
		<param-value>auto</param-value>
	</context-param>
	<context-param>
		<description>开启调试[false(默认)/true]</description>
		<param-name>Comet.Debug</param-name>
		<param-value>false</param-value>
	</context-param>
	
	<!--comet4j应用配置-->
	<listener>
		<description>注册comet4j通道</description>
		<listener-class>cn.com.smart.web.push.impl.RegistComet4jChannel</listener-class>
	</listener>
  
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/error/404.jsp</location>
  </error-page>
</web-app>